<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
    const CAN_PARTICIPATE = "<%= canParticipate %>"
    const STREAMING_URL = "<%= streamingUrl %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="http://localhost:3000/socket.io/socket.io.js" defer></script>
  <script src="http://localhost:3000/video.js" defer></script>
  <script src="http://localhost:3000/chat.js" defer></script>
  <script src="https://kit.fontawesome.com/0dfb644902.js" crossorigin="anonymous"></script></head>
  <title>Document</title>
  <style>
    #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;
      width: calc(100% - 600px);
    }
    
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
  <div class="bg-dark" style="height: 100vh">
    <div class="text-white">
      <div class="d-flex align-items-center">
        <h3 id="room-title" class="font-weight-bold text-uppercase p-5" style="padding-right: .25em !important;"> <%= title %> |</h3>
        <div id="links" class="text-muted"><span class="text-uppercase mr-4">ROOM ID: <%= url %></span></div>
      </div>
      <div class="d-flex flex-wrap flex-row justify-content-between">
        <div id="video-grid" class="m-5"></div>

        <!-- CHAT -->
        <div id="message-container" class="bg-light text-dark" style="width: 500px; height: 80vh; float: right; padding: 2em 4em; overflow: scroll; overflow-x: hidden;">
        <div id="send-container">
          <div class="form-group">
            <input type="text" id="message-input" class="form-control">
          </div>
          <button id="send-button" class="btn btn-primary">Trimite</button>
        </div>
        </div>
      </div>
    </div>
  </div>

  <a id="disconect" href="/" class="btn btn-danger text-white rounded" style="position: absolute; bottom: 2em; left: calc(50% - 24px); width: 48px;">
    <i class="fas fa-phone-slash"></i>
  </a>
</body>
</html>